.pj-headerImg{
    max-height: 40vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

.content-header{
    display: flex;
}

.tech-16{
    margin-left: 8px;
}

.content-right{
    display: flex;
    margin-left: 45%;
    margin-top: 7vh;
    position: absolute;
}

.pj-img{
    width: 75%;
}

@media screen and (max-width: 1400px ){

    .content-header{
        width: 100vw;
    }
}