#services-container{
    width: 100%;
    background: black;
}


.hero-container{
  min-height: 65vh;
  padding-top: 15vh;
  margin-bottom: 20vh;
}

.service-hero-head{
  text-transform: uppercase;
  text-align: left;
  font-size: 5vw;
  line-height: 3.5vw;
  margin-bottom: 10vh;
  letter-spacing: .05vh;
}

.service-hero-sub{
  margin-bottom: 5vh;
  font-size: 2vw;
}

.service-cta{
  color: #64ffea;
  font-size: 1.5vw;
}


.service-item{
  background: rgb(20,20,26);
  /* background: red; */
  border-radius: 25px;
  margin-bottom: 5vh;
  padding: 1vw;
  height: 40vh;
  min-height: 300px;
}

.service-left{
  float: left;
  width: 50%;
  height: 100%;
  padding-left: ;
  
}

.service-right{
  float: right;
  width: 50%;
  height: auto;
  text-align: right;
}

.service-right:hover{

}

.service-img{
  max-height: 35vh;
  height: auto;
  width: auto;
  /* max-width: 100%; */
  /* padding-right: 10vw; */
  display: block;
}

.service-title{
  text-transform: uppercase;
}

.service-list{
  /* padding-left: 0; */
}

.service-list-item{
  display: block;
  margin-bottom: .5vh;
}