.blog-index-container{
    margin-top: 15vh;
    min-height: 80vh;
}

.post-container{
    float: right;
}

#coming-soon{
    margin-top: 15vh;
    padding-top: 50px;
    min-height: 100vh;
    text-align: center;
}