.text-container{
    font-size: 4vw;
    font-family: 'Inconsolata', monospace;
    font-weight: 300;
}

.tldr-container{
    padding-top: 7vh;

}

.comp-gifs{
    max-width: 432px;
}


#name{
    text-decoration: underline;
}

.project-container{
    display: flex;
    align-items: center;
}

.selected-works-title{
    text-transform: uppercase;
    font-family: 'Inconsolata', monospace;
    font-size: 4.5vw;
    

}

.project-description{
    font-family: 'Karla', sans-serif;
}

.pj-title{
    font-size: 3vw;
    font-family: 'Inconsolata', monospace;
    font-weight: 800;
    margin-bottom: 2vh;
}

.tag{
    font-family: 'Inconsolata', monospace;
    color: white;
    background-color: rgba(236, 236, 236, 0.2);
    border-radius: 50px;

}

.reveal-button{
    background-color: transparent;
    color: white;
    font-size: 4vw;
}

.links-container{
    justify-content: space-around;
    display: flex
}

.contact-link{
    font-size: 3.7vw;
}

b{
    -webkit-transition: color .5s;
    -moz-transition:    color .5s;
    -ms-transition:     color .5s;
    -o-transition:      color .5s;
    transition:         color .5s;
}

a:visited{
    font-style: none;
}

.blue:hover{
    color: blue;
}

.red:hover{
    color: red;
}

.green:hover{
    color: green;
}

.orange:hover{
    color: orange;
}

.gray:hover{
    color: gray;
}

.yellow:hover{
    color: yellow;
}

