.blog-item-container{
    border: solid .5px #272733;
    border-radius: 25px;
    background-color: #0d0e11;
    width: 50vw;
    margin-bottom: 2.5vh;
    padding: 1.5vh;
    text-align: left;
    background: linear-gradient(0deg, rgba(20,20,26,1) 0%, rgba(33,31,49,1) 50%);
    background-size: cover;
    background-position: center;
}

.blog-link{
    color: #e8e9ed;
}

.background-image {
    background-size: cover; 
}

.highlight-img{
    width: 100%;
}

  

@media screen and (max-width: 1400px) {
    .blog-item-container{
        width: 95%;
        margin: auto;
    }

    #coming-soon{
        padding-left: 0;
    }
}