.blog-item-container{
    border: solid .5px #272733;
    border-radius: 25px;
    background-color: #0d0e11;
    width: 50vw;
    margin-bottom: 2.5vh;
    padding: 1.5vh;
    text-align: left;
    background-image: 
        linear-gradient(to bottom, rgba(245, 246, 252, 0.52), rgba(117, 19, 93, 0.73)),
        url("https://placehold.co/600x400");
    background-size: cover;
    background-position: center;
}

.blog-link{
    color: #e8e9ed;
}

/* In a CSS file */
.background-image {
    background-image: url('path-to-your-image.jpg');
    background-size: cover; /* Adjust as needed */
    /* Other background properties like background-position, background-repeat, etc. */
  }
  

  