ul{
    list-style: none;
    width: 100%;
}

li{
    display: inline
}

i{
    color: white;
}

nav{
    display: block;
}

a{
    text-decoration: none;
}


.dk-logo{
    max-width: 4vw;
    height: auto;
}

.navbar-container{
    position: absolute;
    width: 100%;
    height: 8vh;
    margin-top: 1vh;
    font-size: 1rem;
}

.nav-link-container{
    padding-right: 5vw;
}

.nav-link{
    margin-right: 1vw;
    color: #a0a0c0;
}

.internal{
    margin-right: 2vw;
    color: #a0a0c0;

}



.navbar-left{
    float: left;
    margin-left: 2vw;
}

.navbar-right{
    float: right;
}

.icon{
    padding-right: 1vw;
    color: #a0a0c0;
}

    /* ICONS */
    /* HOVER OFF */

.fa-github{
    transition-duration: .5s;
}

.fa-linkedin{
    transition-duration: .5s;
}

.fa-blog{
    transition-duration: .5s;
}

.fa-pen-fancy{
    color: #a0a0c0;
}

.fa-user{
    color: #a0a0c0;
}

    /* HOVER ON */


.fa-github:hover{
    color: white;
    transition-duration: .5s;
}

.fa-linkedin:hover{
    color: #0072b1;
    transition-duration: .5s, .5s;
}

.fa-blog:hover{
    color: #FFA500;
    transition-duration: .5s, .5s;
}

.fa-pen-fancy:hover{
    color: #e8e9ed;
    transition-duration: .5s;
}

.fa-user:hover{
    color: #e8e9ed;
    transition-duration: .5s;
}

.internal:hover{
    color: #e8e9ed;
    transition-duration: .5s;
}