.highlight-container{
    margin:0;
    padding:0;
    box-sizing:border-box;
    background-color: #13131d;
    cursor: pointer;
    border-radius: 1vw;
    padding: 1vw;

}

.type{
    color: #d7b16c;
}

.date{
    color:  #a0a0c0;
}

.highlight-body{
    color:  #a0a0c0;
}

.highlight-link{
    color: #21f1be;
}


.highlight-container:hover{
    background-color: #1f1f2e;
}