.highlight-container{
    margin:0;
    padding:0;
    box-sizing:border-box;
    background-color: #13131d;
    cursor: pointer;
    border-radius:25px;
    padding: 1vw;
    width: 100%;
    min-height: 500px;
    font-size: 1rem;
}

.type{
    color: #d7b16c;    
    font-size: 1rem;
}

.date{
    color:  #a0a0c0;
    font-size: 1rem;
}

.highlight-body{
    color:  #a0a0c0;
    font-size: 1rem;
}

.highlight-link{
    color: #21f1be;
}

.highlight-head{
    font-size: 3rem;
}


.highlightHover:hover{
    background-color: #1f1f2e;
    cursor: pointer;
}

@media screen and (max-width: 960px) {
    .highlight-container{
        display: block;
        margin-bottom: 2.5vh;
        
    }
}