.banner-container{
    display: flex;
    margin-top: 20vh;
    min-height: 65vh;
}

.banner-left{
    font-size: 3rem;
    font-family: 'Inconsolata', monospace;
    width: 50%;
    padding-right: 5vw;
    padding-left: 10vw;
    padding-top: 5vh;

}

.banner-right{
    padding-top: 5vh;
}

.name{
    background: -webkit-linear-gradient(#921818, #fbff00);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.jobtitle{
    background: -webkit-linear-gradient(#421ccc, #00ff37);
    -webkit-background-clip: text;
    background-clip: text;

    -webkit-text-fill-color: transparent;
}

.learn-more:hover{
    text-decoration: underline;
}

