.banner-container{
    display: flex;
    margin-top: 20vh;
    min-height: 65vh;
}

.banner-left{
    font-size: 2rem;
    font-family: 'Inconsolata', monospace;
    width: 50%;
    margin-right: 5vw;
    margin-left: 10vw;
}

.banner-right{
    padding-top: 5vh;
}