.footer-container {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    bottom: 0;
    /* position: fixed; */
    width: 100%;
    padding-left: 20vw;
    padding-bottom: 5vh;
    padding-right: 20vw;
}

.social-links{
    padding-right: 1vw;
}

.social-container{
    margin: 0;
}

.footer-icon {
    margin-left: .5vw;
    margin-right: .5vw;;
}


