.footer-container {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    bottom: 0;
    /* position: fixed; */
    width: 100%;
    background-color: red;
    padding-left: 15vw;
    padding-bottom: 5vh;
}

.social-container{
    margin: 0;
}

.footer-icons {
    font-size: 50px;
}

a {
    color: black;
}