

.contact-socialLink:visited{
    text-decoration: none;
}

.contact-socialLink {
    color: #64ffea;
    padding-right: 1vw;

}

.contact-socialLink:hover{
    text-decoration: underline;
}

#contact-description{
    font-style: italic;
    color: white;
}