ul{
    list-style: none;
    width: 100%;
}

li{
    display: inline
}

i{
    color: white;
}

nav{
    display: block;
}

a{
    text-decoration: none;
}


.dk-logo{
    max-width: 4vw;
    height: auto;
    min-height: 36px;
    min-width: 36px;
}

.navbar-container{
    position: absolute;
    height: 8vh;
    padding-top: 2vh;
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1352px;
}

.nav-icon{
    padding: 0;
    margin: 0   ;
}


.internal{
    color: #a0a0c0;

}

.nav-button{
    padding: 1.5vh;    
    height: 5vh;
    vertical-align: middle;
    background-color: transparent;
    border: none;
    color: #a0a0c0;
    transition-duration: .5s;
    font-size: 1rem;
}



.navbar-left{
    display: flex;
}

.navbar-right{
    display: flex;
}

.icon{
    color: #a0a0c0;
}

    /* ICONS */
    /* HOVER OFF */

.fa-github{
    transition-duration: .5s;
}

.fa-linkedin{
    transition-duration: .5s;
}

.fa-blog{
    transition-duration: .5s;
}

.fa-pen-fancy{
    color: #a0a0c0;
}

.fa-user{
    color: #a0a0c0;
}

    /* HOVER ON */

.nav-button:hover{
    color: #e8e9ed;
    background-color: rgb(77, 77, 77);
    cursor: pointer;
    transition-duration: .5s;
    border-radius: 10px;
}

.fa-github:hover{
    color: white;
    transition-duration: .5s;
}

.fa-linkedin:hover{
    color: #0072b1;
    transition-duration: .5s, .5s;
}

.fa-blog:hover{
    color: #FFA500;
    transition-duration: .5s, .5s;
}

.fa-pen-fancy:hover{
    color: #e8e9ed;
    transition-duration: .5s;
}

.fa-user:hover{
    color: #e8e9ed;
    transition-duration: .5s;
}


@media screen and (max-width: 960px) {
    .navbar-left{
        margin-left: 0;
        padding-left: 1vh;
    }

    .navbar-left > ul {
        padding-inline-start: 0;
    }

}