/* TODO Add site wide styles */
#root{
    background-color: black;
    min-height: 100vh;
    font-family: 'Inconsolata', monospace;
    overflow: hidden;
}


body {
    margin: 0;
    color: white;
    cursor: default;  
}

.page-container{
    min-height: 100%;
    margin-left: 5vw;
    margin-right: 5vw;
    padding-bottom: 5vh;


}

@media screen and (max-width: 950px) {
    body {
        background: #EEF0F4;
        min-height: 100vh;
        min-height: -webkit-fill-available;
    }

    #page-container {
        width: 95vw;
        min-height: 100vh;
        min-height: -webkit-fill-available;
        border-radius: 0;
        box-shadow: none;
    }
    html {
        height: -webkit-fill-available;
    }
}