.sticky-container{
    top: 1vh;
    width: 34%;
}

.button{
    display: inline-block;
    padding: 2.5vh 5vw;
    text-align: center;
    text-decoration: none;
    color: #ffffff;
    background-color: #7aa8b7;
    border-radius: 6px;
    outline: none;
    transition: 0.3s;
    width: 5vw;
    margin-right: 1vw;
    margin-bottom: 1vh;
}

.sticky-top{
    display: flex;
}