.email-form{
    display: block;
}

.email-container{
    text-align: left;
}

.content-right{
    width: 35%;
    float: right;
    display: block;
    padding-top: 50vh;
}

#contact-container{
    display: flex;
}

.email-input{
    width: 100%;
    border-radius: 25px;
    padding: 1vh;
}

textarea{
    width: 100%;
    border-radius: 25px;
    min-height: 125px;
    padding: 1vh;
}