.highlights-container{
    padding-left: 10vw;
    display:grid;
    grid-template-columns: auto auto;
    /* grid-template-columns: auto-fill minmax(200px, 1fr);  */
    grid-row: auto auto;
    grid-column-gap: 1vw;
    grid-row-gap: 1vw;
    .box{
        background-color:#333;
        padding:20px;
        border-radius:10px;
        color:#fff;
        display:flex;
        align-items:center;
        justify-content:center;
        font-size:40px;
        font-family:sans-serif;
    }
}

#substack-highlight{
    color: white;
}

@media screen and (max-width: 960px) {
    .highlights-container{
        display: block;
        margin-bottom: 10vh;
        
    }
}