/* TODO Add site wide styles */
#root{
    overflow: hidden;
    background-color: black;
    min-height: 100vh;
    
}

body {
    margin: 0;
    color: white;
    
}

.page-container{
    margin-left: 5vw;
    margin-right: 5vw;
    overflow: hidden;

}

