/* TODO Add site wide styles */
#root{
    overflow: hidden;
    background-color: black;
    min-width: 100vw;
    min-height: 100vh;
}

body {
    margin: 0;
    color: white;
}

.page-container{
    margin-left: 7vw;
    margin-right: 7vw;

}