.blog-item-container{
    border: solid .5px #272733;
    border-radius: 25px;
    background-color: #0d0e11;
    width: 50vw;
    float: right;
    margin-bottom: 5vh;
}

.blog-link{
    color: #e8e9ed;
}