.flatCube-container{
    perspective: 800;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center,
}

.flatCube{
    background-image: url("https://derailed-seed.s3.us-west-1.amazonaws.com/kamcube_11.png");
    height: 400px;
    width: 400px;
    background-size: contain;
    transform-Style: preserve-3d;

}