.banner-container{
    display: flex;
    padding-top: 20vh;
    min-height: 65vh;
    margin-bottom: 10vh;
}

.banner-left{
    font-size: 3rem;
    font-family: 'Inconsolata', monospace;
    width: 70%;
    /* padding-right: 5vw;
    padding-left: 10vw; */
}

.banner-right{
    padding-top: 5vh;
    width: 30%;
}

.name{
    background: -webkit-linear-gradient(#921818, #fbff00);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.jobtitle{
    background: -webkit-linear-gradient(#421ccc, #00ff37);
    -webkit-background-clip: text;
    background-clip: text;

    -webkit-text-fill-color: transparent;
}

.learn-more:hover{
    text-decoration: underline;
}

.tab{
    padding-left: 2vw;
}

  /* Media Query for Tablet and Mobile Devices */
  @media (max-width: 820px) {
    .banner-container{
        padding-top: 5vh;
    }

    .banner-left{
        width: 100%;
    }
    .banner-right{
        display: none;
    }
  }
